button {
    height: 50px;
    border: none;
    border-radius: 25px;
    background: $violet-linear-gradient;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FFF;
    box-shadow: 0px 4px 10px #C0C0C0;
    transition: opacity .4s , box-shadow .4s;
    &:hover {
        opacity: 0.85;
        box-shadow: 0px 4px 10px #A7A7A7;
    }
}