header .link_page_back {
    display: inline-block;
    height: 68.61px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
}