$padding-sides-home: 20px;
$padding-sides-home-desktop: 30px;
$padding-sides-home-header: 17px;
$padding-sides-menu: 12px;
$padding-sides-footer: 20px;
$padding-top-menu: 30px;
$margin-bottom-sections: 50px;
$margin_bottom_home_titles: 30px;
$padding-bottom-menu-elements: 40px;
$rest-cards-height: 250px;
$fonc-cards-height: 75px;
$menu-cards-height: 68px;
$img-card-size: 70%;
$badge-color: #99e2d0;
$badge-font-clr: #008766;
$home-cards-padding-sizes: 15px 25px 15px 15px;
$menu-cards-padding-sizes: 15px 0px 10px 10px;
$primary-color: #9356DC;
$tertriary-color: #99E2D0;
$localisation-bg-clr: #eaeaea;
$localisation-fnt-clr: #353535;
$sections-bg-clr: #f6f6f6;
$fnct-cards-bg-clr: #f6f6f6;
$fnct-icon-color-1: #9356dc;
$fnct-icon-color-2: #7e7e7e;
$box-shdw-size: 2px;
$box-shdw-clr: #e6e6e6;
$btn-clr-1: #f074da;
$btn-clr-2: #9f5adc;
$violet-linear-gradient: linear-gradient(170deg, $btn-clr-1, $btn-clr-2);
$violet-linear-gradient-lighten: linear-gradient(170deg, lighten($btn-clr-1, 2), lighten($btn-clr-2, 2));
$bc-footer: #353535;
