section.menu .menu_elements {
    .menu_card {
        padding: $menu-cards-padding-sizes;
        background-color: #FFF;
        border-radius: 12px;
        box-shadow: 0px 6px 10px #E5E4E2;
        margin-bottom: 15px;
        line-height: 1.5;
        animation: falling-down-menu 2ms ease;
        transform: translateY(10px);
        opacity: 0;
        animation: fall-down-effect 0.5s linear forwards;
        overflow: hidden;
        position: relative;
        &:hover .add_to_cart_effect {
            right: 0;
        }
        
        &:hover .menu_card_description span {
            margin-right: 65px + 20px;
        }
        .menu_card_flex {
            flex: 0 1 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .menu_card_description {
            display: flex;
            justify-content: space-between;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            span {
                display: block;
                margin-right: 20px;
                margin-left: 20px;
                font-weight: 600;
                transition: all 0.5s linear
            }
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                transition: all 0.5s linear
            }
        }
        .add_to_cart_effect {
            height: 77px;
            width: 65px;
            background-color: $tertriary-color;
            margin: -15px 0 -15px 0;
            position: absolute;
            right: -65px;
            top: 15px;
            transition: all 0.5s linear
        }
    }
    .mc-anim-1 {
        animation-delay: 1s;
    }
    .mc-anim-2 {
        animation-delay: 1.2s;
    }
    .mc-anim-3 {
        animation-delay: 1.4s;
    }
}
@keyframes fall-down-effect {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes scale-left {
    100% {
        transform: translateX(80px);
    }
}